version: '3.9'

services:
  web:
    image: nginx:alpine
    container_name: leadsense-web
    volumes:
      - ./dist:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
    networks:
      - leadsense-network

networks:
  leadsense-network:
    driver: bridge
